/* This file is for your main application css. */
@import "bootstrap";

.login {

	text-align: center;
}

.tasks {
   
	margin-top: 15px;
	margin-bottom: 15px;
}

.title {

	color: blue;
}

.buttons {

	margin-right: 10px;
	padding: 5px;
}

.list {

	margin:1px;
}

.no_task {

	text-align: center;
	margin: 30px;
}

.options {

	margin-right: 20px;
}